#corps {
  justify-content: space-between;
  text-align: center;
  font-family: "Mulish", sans-serif;
}

#h1 {
  font-family: "Mulish", sans-serif;
  font-size: 144px;
  font-style: bold;
  font-weight: 1500;
  line-height: 26px;
  letter-spacing: 0.3545454740524292px;
  text-align: center;
}

#blocs {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}


#personne {
  justify-content: space-between;
  width: 160px;
  height: 175px;
  margin: 50px 5px 5px 40px;
  background: #edecfe;
  border-radius: 10px;
  padding: 20px;
  font-family: "Mulish", sans-serif;
  font-size: small;
  /* font-style: normal; */
  font-weight: 800;
  line-height: 5%;
  letter-spacing: 0.3545454740524292px;
  text-align: center;
  display: table-cell;
  vertical-align: bottom;

}





#nom {
  font-weight: bold;
  font-size: 15px;
}
#prenom {
  font-size: medium;
} 

#avatar {
  position: relative;
  top : -40%;
  left: -25%;
  border-radius: 50%;
  margin-bottom: -20%;
  margin-right: -10%;
  width: 150px;

  /* text-align: left; */
  /* height: 150px; */
  /* border: 50%;*/
  /* padding-top: 50px; */
  /* /* z-index: 1; */
  /* position: absolute;  */
}

/*footer*/

nav {
  display: flex;
  justify-content: center;
  border-top: 1px solid #eee;
  margin-top: 1em;
  padding-top: 0.5em;
}


